.cont-card{
    /* border: 1px solid black; */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 12px black;
}

.imagem-produto{
    font-size: 30px;
    height: 50px;
}