.cont-tarefa {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.concluida {
    color: rgb(255, 255, 255);
}

.pendente {
    color: rgb(255, 255, 255);
}
